.big_header {
}

.header {
  padding-top: 20px;
  background-color: 00c6a9;
  height: 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav h1{
    padding-left: 50px;
    color: white;
}
.nav .links {
  padding-right: 50px;
  display: flex;
  gap: 50px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: lightskyblue;
}
