
<div class="about-section">
    <div class="about-container">
      <img src="images/about-img.jpg" >
      <div class="about-text">
        <h2>About <span>Mico</span></h2>
        <p>has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
        <button>Read More</button>
      </div>
    </div>
  </div>
  